<!--
  Generated template for the MorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>Mon compte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="notLogin">
    <ion-card>
      <ion-card-header text-center>
        Connectez-vous
      </ion-card-header>
      <ion-card-content text-center>
        <button ion-button outline small (click)="showModal()">Connexion/Créer votre compte</button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="logined">
    <ion-list>
      <button ion-item class="AccountDetail">
        <ion-avatar item-start>
          <img src="assets/imgs/logo-512.png">
        </ion-avatar>
        <h1>JLS import</h1>
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <span> Mes commandes </span>
        <a class="viewAll" href="#">{{'myAccount.ViewAll' | translate}} </a>
      </ion-list-header>
      <button ion-item (click)="readCommandList()">Commandes unpayées</button>
      <button ion-item (click)="readCommandList()">Commandes en cours</button>
      <button ion-item (click)="readCommandList()">Commandes arrivées</button>
    </ion-list>

    <ion-list>

      <button ion-item (click)="translation()">
        <ion-icon class="iconStyle" name="globe-outline" item-start></ion-icon>
        {{'translation.Title' | translate}}
      </button>

      <button ion-item>
        <ion-icon class="iconStyle" name="at" item-start></ion-icon>
        Donnez-Nous Votre Avis
      </button>
      <button ion-item (click)="contactUs()">
        <ion-icon class="iconStyle" name="mail" item-start></ion-icon>
        Contactez-Nous
      </button>
      <button ion-item (click)="aboutUs()">
        <ion-icon class="iconStyle" name="information-circle" item-start></ion-icon>
        A Propos de Nous
      </button>
    </ion-list>
    <ion-list>
        <button ion-button full color="danger" text-center (click)="logout()">
            Déconnexion
        </button>
    </ion-list>

  </div>
</ion-content>