<ion-header>

  <ion-navbar>
    <ion-title>{{product.Label | uppercase }} </ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div style="height: 35%;">
      <!-- <img class="productDetailImg" src="assets/imgs/productDetailImg.png" /> -->

      <ion-slides class="slidePagers" pager>
        <ion-slide *ngFor="let item of product.ImagesPath">
          <img class="productDetailImg" [src]="host+item.Path" *ngIf="item.Path" style="height: 250px;"/>
    
        </ion-slide>
        <img *ngIf="product.ImagesPath==null||product.ImagesPath.length==0" class="productImg"  src="assets/imgs/not-found.png">
      </ion-slides>

   
      <!-- <div class="surjet"></div>
      <p class="surjetText">{{product.Label | uppercase }}</p> -->

  </div>
  <div>
    <ion-row class="buttonRow" text-center>
      <ion-col col-4 class="iconCol" (click)="favorite()">
        <button ion-button  icon-only >
          <ion-icon isActive="{{isFavorite}}" name='bookmark'></ion-icon>
        </button>
        <p class="iconText">Favorite</p>
      </ion-col>
      <ion-col col-4 class="iconCol">
        <button ion-button icon-only >
          <ion-icon name='cart'></ion-icon>
        </button>
        <p class="iconText">Cart</p>
      </ion-col>
      <ion-col col-4 class="iconCol">
        <button ion-button icon-only (click)="writeEvaluation()">
          <ion-icon name='create'></ion-icon>
        </button>
        <p class="iconText">Avis</p>
      </ion-col>
    </ion-row>
  </div>
  <ion-list>
    <ion-item>
      <p style="font-size: unset;color:#222;">Référence : {{product.ReferenceCode}}</p>
    </ion-item>
    <button ion-item (click)="displayAvis()"> 
      <ion-row align-items-center>
          <ion-col col-2>
            <ion-icon color="primary" style="font-size:xx-large;" name="chatboxes"></ion-icon>
          </ion-col>
          <ion-col col-6>
            <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#534d7a"
              defaultColor="cadetblue" readonly="true" [rating]="calculCommentAverageLevel()" fontSize="24px">
            </ionic3-star-rating>
          </ion-col>
          <ion-col col-4><span float-right class="nombreAvis" (click)="displayAvis()" *ngIf="product.Comments!=null&&product.Comments.length>0">({{product.Comments.length}} avis)</span> </ion-col>
        </ion-row>
    </button>
    <ion-item>
      Quantité minimal : {{product.MinQuantity}}
    </ion-item>
    <ion-item>
      Quantité par colis : {{product.QuantityPerBox}}
    </ion-item>
    <ion-item>
      Couleur: {{product.Color}}
    </ion-item>
    <ion-item>Taille: {{product.Size}}</ion-item>
    <ion-item>Material: {{product.Material}}</ion-item>
    <ion-item>
        <p style="color: black; font-size: 1em;">{{product.Description}} </p>
    </ion-item>

  </ion-list>
</ion-content>