<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CHAUFFAGE MAX 2000W</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div style="height: 35%;">
      <img class="productDetailImg" src="assets/imgs/productDetailImg.png" />
      <div class="surjet"></div>
      <p class="surjetText">CHAUFFAGE MAX 2000W</p>
  </div>
  <div>
    <ion-row class="buttonRow" text-center>
      <ion-col col-4 class="iconCol" (click)="favorite()">
        <button ion-button  icon-only >
          <ion-icon isActive="{{isFavorite}}" name='bookmark'></ion-icon>
        </button>
        <p class="iconText">Favorite</p>
      </ion-col>
      <ion-col col-4 class="iconCol">
        <button ion-button icon-only >
          <ion-icon name='cart'></ion-icon>
        </button>
        <p class="iconText">Cart</p>
      </ion-col>
      <ion-col col-4 class="iconCol">
        <button ion-button icon-only (click)="writeEvaluation()">
          <ion-icon name='create'></ion-icon>
        </button>
        <p class="iconText">Avis</p>
      </ion-col>
    </ion-row>
  </div>
  <!-- <ion-buttons class="buttonZone" style="width: 100%;margin-bottom: 5px;" color='light'>
      <ion-row>
        <ion-col col-4 text-center>
        <button class="productDetailImgNavButton" (click)="favorite()" ion-button clear>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon  class="iconButton" isActive="{{isFavorite}}" name="bookmark" ></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!isFavorite"><ion-col class="iconText" text-center>Facorite</ion-col></ion-row>
          <ion-row *ngIf="isFavorite"><ion-col class="iconText" text-center>Facorité</ion-col></ion-row>
        </ion-grid>
      </button>
    </ion-col>
    <ion-col col-4 text-center >
      <button class="productDetailImgNavButton" ion-button clear>
        <ion-grid>
            <ion-row>
              <ion-col><ion-icon class="iconButton" name="cart"></ion-icon></ion-col>
            </ion-row>
            <ion-row><ion-col class="iconText" text-center>Cart</ion-col></ion-row>
          </ion-grid>
      </button>
    </ion-col>
    <ion-col col-4 text-center >
      <button class="productDetailImgNavButton" (click)="writeEvaluation()" ion-button clear>
        <ion-grid>
            <ion-row>
              <ion-col><ion-icon  class="iconButton" name="create"></ion-icon></ion-col>
            </ion-row>
            <ion-row><ion-col class="iconText" text-center>Avis</ion-col></ion-row>
          </ion-grid>
      </button>
    </ion-col>
    </ion-row>
    </ion-buttons> -->
  <ion-list>
    <ion-item>
      <p style="font-size: unset;color:#222;">Référence : 947628</p>
    </ion-item>
    <button ion-item (click)="displayAvis()"> 
      <ion-row align-items-center>
          <ion-col col-2>
            <ion-icon color="primary" style="font-size:xx-large;" name="chatboxes"></ion-icon>
          </ion-col>
          <ion-col col-6>
            <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#534d7a"
              defaultColor="cadetblue" readonly="true" rating="4" fontSize="24px">
            </ionic3-star-rating>
          </ion-col>
          <ion-col col-4><span float-right class="nombreAvis" (click)="displayAvis()">(3 avis)</span> </ion-col>
        </ion-row>
    </button>
    <ion-item>
      Quantité par colis : 1
    </ion-item>
    <ion-item>
      Couleur :Blanc
    </ion-item>
    <ion-item>Taille : 56.5×42cm</ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>3 niveaux de puissances</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>2 interruptoires(froid /chaud)</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>Matière : en métal</ion-item>
    <ion-item></ion-item>
  </ion-list>
</ion-content>