page-product-detail {
    .productDetailImg{
        width: 100%;
        height: 100%;
    }

    .content{
        background: #ffffff!important;
    }

    .iconButton{
        font-size:-webkit-xxx-large;
    }

    .iconText{
        font-size: small;
    }

    .productDetailImgNavButton{
        height: 100%;
        width: 28vw;
        margin: 0px;
        padding: 0px;   
    }

    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .list-ios>.item-block:last-child {
        border-bottom: none;
    }
    .list-md>.item-block:first-child {
        border-top: none;
    }
    .list-md>.item-block:last-child {
        border-bottom: none;
    }
    .iconText{
        margin-bottom: 5px!important;
    }
    .iconCol{
        padding-bottom: 0px!important;;
    }
    ion-list{
        .label-md{
            margin:0px!important;
        }
        .label-ios{
            margin:0px!important;
        }
        .nombreAvis{
            margin-right: 5px;
        }
    }

    .surjet{
        position: relative;
        bottom: 14%;
        height: 13%;
        color: #ffffff;
        opacity: 0.3;
        background-color: rgb(0, 0, 0);
    }

    .surjetText{
        position: relative;
        bottom: 24%;
        height: 10%;
        margin: 0;
        color: #ffffff;
        font-size: medium;
    }
    .buttonRow{
        margin-top: 5px;
    }
}
