<ion-header>

  <ion-navbar text-center>
    <ion-title>{{'cart.Title' | translate}}( 
      <span *ngIf="cartProductList==null">0</span>
      <span *ngIf="cartProductList!=null">{{cartProductList.length}}</span> )</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="checkProductListIsAvailable()" >
    <div class="productCard" *ngFor="let item of cartProductList">
      <ion-grid class="colStyle">
        <ion-row class="colStyle">
          <ion-col col-1 class="align-text-middle colStyle">
            <ion-checkbox [(ngModel)]="item.Selected" (ngModelChange)="itemCheckBoxChange(item)">
            </ion-checkbox>
          </ion-col>
          <ion-col col-3 class="colStyle">
            <img *ngIf="item.DefaultPhotoPath!=null" class="align-text-middle" [src]="host+item.DefaultPhotoPath">

            <img *ngIf="item.DefaultPhotoPath==null"   src="assets/imgs/not-found.png">
          </ion-col>
          <ion-col col-8 class="colStyle">
            <div>
              <p style="float: right; margin-right: 4px; margin-bottom: 0px;">{{item.Price}}<span *ngIf="item.Price!=null">€</span></p>
              <h6 class="productTitleFont"> {{item.Label}} </h6>
              <p class="descriptionFont">{{'cart.Reference' | translate}}: {{item.Code}} </p>
              <button ion-button icon-only float-right  style="font-size:0.6em; clear: both; height: 3em;" (click)="removeItem(item)">
                <ion-icon name="close"></ion-icon>
              </button>
              <p class="descriptionFont">{{'cart.EachBox' | translate}}: {{item.QuantityPerBox}} </p>
              <p class="descriptionFont">{{'cart.MinimumPurchase' | translate}}:{{item.MinQuantity}}</p>
            </div>
            <ion-meter float-right [buyNumber]="checkQuantityWithMinQuantity(item.MinQuantity,item.Quantity)" maxQty='10000' [minQty]='item.MinQuantity' [goods]="item.ReferenceId" (onUpdate)="onUpdate($event)">
            </ion-meter>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
  <div *ngIf="!checkProductListIsAvailable()">
   <img style="margin-top: 5px;" src="assets/imgs/empty_cart.png">
   <h1 style="text-align: center; color: gray;"> {{'cart.YourCartIsEmpty' | translate}}</h1>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div style="margin-left: 5px;" float-left class="footerComponent">
      <ion-checkbox [disabled]="!checkProductListIsAvailable()" name="AllProduct" [(ngModel)]="checkAllProduct" (ngModelChange)="AllCheckBoxChange()">
      </ion-checkbox>
      <ion-label style="margin-left: 3px;">{{'cart.All' | translate}}</ion-label>
    </div>
    <div float-right class="footerComponent">
      <ion-label>{{'cart.Somme' | translate}}:{{CalculAccount()}}€</ion-label>
      <button ion-button round small [disabled]="!checkProductListIsAvailable() || !checkSelectedProductListIsEmpty()" (click)="valideCart()">{{'cart.Confirm' | translate}}</button>
    </div>
  </ion-toolbar>
</ion-footer>