<ion-header>

  <ion-navbar text-center>
    <ion-title>{{'cart.Title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <div class="productCard" *ngFor="let item of cartProductList">
      <ion-grid class="colStyle">
        <ion-row class="colStyle">
          <ion-col col-1 class="align-text-middle colStyle">
            <ion-checkbox [(ngModel)]="item.Selected" (ngModelChange)="itemCheckBoxChange(item)">
            </ion-checkbox>
          </ion-col>
          <ion-col col-3 class="colStyle">
            <img class="align-text-middle" src="https://www.jlsimport.fr/img/p/5/6/6/0/5660-large_default.jpg">
          </ion-col>
          <ion-col col-8 class="colStyle">
            <div>
              <p style="float: right; margin-right: 4px; margin-bottom: 0px;">{{item.Price}}<span *ngIf="item.Price!=null">€</span></p>
              <h6 class="productTitleFont"> {{item.Label}} </h6>
              <p class="descriptionFont">{{'cart.Reference' | translate}}: {{item.Code}} </p>
              <button ion-button icon-only float-right  style="font-size:0.6em; clear: both;" (click)="removeItem(item)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
              <p class="descriptionFont">{{'cart.EachBox' | translate}}: {{item.QuantityPerBox}} </p>
              <p class="descriptionFont">{{'cart.MinimumPurchase' | translate}}:{{item.MinQuantity}}</p>
            </div>
            <ion-meter float-right [buyNumber]="item.Quantity" maxQty='10000' minQty='0' [goods]="item.ReferenceId" (onUpdate)="onUpdate($event)">
            </ion-meter>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div style="margin-left: 5px;" float-left class="footerComponent">
      <ion-checkbox name="AllProduct" [(ngModel)]="checkAllProduct" (ngModelChange)="AllCheckBoxChange()">
      </ion-checkbox>
      <ion-label style="margin-left: 3px;">{{'cart.All' | translate}}</ion-label>
    </div>
    <div float-right class="footerComponent">
      <ion-label>{{'cart.Somme' | translate}}:{{CalculAccount()}}€</ion-label>
      <button ion-button round small (click)="valideCart()">{{'cart.Confirm' | translate}}</button>
    </div>
  </ion-toolbar>
</ion-footer>