<!--
  Generated template for the NewproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{Title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="loading" class="spinner">
    <ion-spinner center></ion-spinner>
    <p text-center font-size-small>{{'Loading' | translate}}...</p>
  </div>

  <p *ngIf="!loading && (productList==null || productList.length<=0) " text-center>{{'NoDataToDisplay' | translate}}</p>
  <ion-list>
    <ion-item ion-item detail-none (click)="productDetail(item)" *ngFor="let item of productList">
      <p style="float: right; margin-top: 25px;" *ngIf="logined">{{item.Price}} <span [hidden]="item.Price==null">€</span></p>
      <ion-avatar item-start>
        <img *ngIf="item.DefaultPhotoPath==null" class="productImg"  src="assets/imgs/not-found.png">

        <img *ngIf="item.DefaultPhotoPath!=null" class="productImg"  [src]="host+item.DefaultPhotoPath">
      </ion-avatar>
      <h2 class="productLabelClass" [id]="item.ReferenceId">{{item.Label}}</h2>
    
      <p>{{'newproduct.QuantityEachBox' | translate}} : {{item.QuantityPerBox}}</p>
      <p>{{'newproduct.QuantityMinimum' | translate}} : {{item.MinQuantity}}</p>
      <button icon-only float-right  style="font-size:0.6em; padding: 1px 0px; background-color: white;" (click)="addInCart($event,item)">
        <ion-icon name="cart"></ion-icon>
      </button>
      <p>{{'newproduct.Reference' | translate}} : {{item.Code}}</p>
  
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>