<ion-header>

  <ion-navbar>
    <ion-title>{{'order-confirmation.Title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #fffffff7!important;">
  <div style="background-color: white; padding: 8px;">
    <h6>{{'order-confirmation.MyOrder' | translate}}<span float-right class="articleNumber">{{orderProductList.length}} {{'order-confirmation.Article' | translate}}</span></h6>
    <ion-list style="margin-bottom: 0px;">
      <ion-card class="productCard" *ngFor="let item of orderProductList">
        <ion-card-header style="padding: 8px 4px 0px;">
          <h3 class="productTitle">{{item.Label}}</h3>
        </ion-card-header>
        <ion-card-content style="padding: 0px;">
          <div>
            <ion-row>
              <ion-col col-4>
                <img class="align-text-middle" src="https://www.jlsimport.fr/img/p/5/6/6/0/5660-large_default.jpg">
              </ion-col>
              <ion-col col-8>
                <div float-right style="margin-top: 5px;"> <span style="font-size: 20px;color: #534d7a; ">{{item.Price*item.Quantity}} €</span>
                </div>
                <p class="descriptionFont">{{'order-confirmation.Reference' | translate}}: {{item.Code}} </p>
                <p class="descriptionFont">{{'order-confirmation.UnitPrice' | translate}} : {{item.Price}} €</p>
                <p class="descriptionFont">x {{item.Quantity}}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
      <div>
        <p class="expenseFont">{{'order-confirmation.SommeBeforeTaxe' | translate}}:<span float-right>{{calculTotalPrice()}}€</span></p>
        <p class="expenseFont">{{'order-confirmation.TVA' | translate}}:<span float-right>20€</span> </p>
        <P class="expenseFont">{{'order-confirmation.ShippingCost' | translate}}:<span float-right>20€</span></P>
        <p class="totalCommande expenseFont" style="font-weight: bold;">{{'order-confirmation.AmountOfOrder' | translate}}:<span
            float-right>{{calculTotalPrice()}}€</span></p>
      </div>
    </ion-list>
  </div>
  <div style="background-color: white; padding: 8px; margin-top: 30px;">
    <h6><b>{{'order-confirmation.ShippingAddressOrBilling' | translate}}</b></h6>
    <ion-list style="margin-bottom: 0px;">
      <ion-card class="productCard" style="width: 100%; border-bottom: 0px;">
        <ion-card-header style="padding: 8px 4px 0px;">
          <h3 class="productTitle">{{'order-confirmation.ShippingAddress' | translate}}</h3>
        </ion-card-header>
        <ion-card-content style="padding: 0px;" *ngIf="defaultShippingAdress!=null">
          <p class="descriptionFont">{{defaultShippingAdress.ContactFirstName}} <span> {{defaultShippingAdress.ContactLastName}}</span>  </p>
          <p class="descriptionFont">{{defaultShippingAdress.FirstLineAddress}}  </p>
          <p class="descriptionFont">{{defaultShippingAdress.SecondLineAddress}}  </p>
          <p class="descriptionFont">{{defaultShippingAdress.ZipCode}}    <span> {{ defaultShippingAdress.City }} </span> </p>
          <p class="descriptionFont">{{defaultShippingAdress.ContactTelephone}} </p>
        </ion-card-content>
        <ion-card-content style="padding: 0px;" *ngIf="defaultShippingAdress==null">
          <p class="descriptionFont">{{'order-confirmation.NoAddressAvailable' | translate}}</p>
        </ion-card-content>
      </ion-card>
      <div text-center>
        <button ion-button small color="primary" outline (click)="selectShippingAdress()">{{'order-confirmation.ChooseAnotherAddress' | translate}}</button>
      </div>
    </ion-list>
  </div>

  <div style="background-color: white; padding: 8px; margin-top: 30px; margin-bottom: 20px;">
    <h6> <a float-right class="articleNumber" (click)="modifyFacturationAdress(facturationAdress)">{{'order-confirmation.Edit' | translate}}</a></h6>
    <ion-list style="margin-bottom: 10px;">
      <ion-card class="productCard" style="width: 100%; border-bottom: 0px;">
        <ion-card-header style="padding: 8px 4px 0px;">
          <h3 class="productTitle">{{'order-confirmation.BillingAddress' | translate}}</h3>
        </ion-card-header>
        <ion-card-content style="padding: 0px;">
          <p class="descriptionFont">{{facturationAdress.ContactFirstName}} <span> {{facturationAdress.ContactLastName}}</span>  </p>
          <p class="descriptionFont">{{facturationAdress.FirstLineAddress}}  </p>
          <p class="descriptionFont">{{facturationAdress.SecondLineAddress}}  </p>
          <p class="descriptionFont">{{facturationAdress.ZipCode}}    <span> {{ facturationAdress.City }} </span> </p>
          <p class="descriptionFont">{{facturationAdress.ContactTelephone}} </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="padding: 5px;">
      <p class="expenseFont">{{'order-confirmation.Amount' | translate}}:<span float-right style="font-weight: bold;">100€</span></p>
      <p class="expenseFont">{{'order-confirmation.ShippingCost' | translate}}:<span float-right>10€</span></p>
      <div text-center>
        <button ion-button small color="primary" style="width: 100%;" (click)="validOrder()">{{'order-confirmation.FinalizeTheOrder' | translate}}</button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>