page-home {
    .slidePhoto{
        height: 75%;
    }
    .slidePagers{
        height: 48%;
    }
    .content{
        background: #ffffff!important;
    }
    .buttonRow{
        margin: 10px 15px;
    }
    .buttonZone{
       /*  position: absolute; 
        bottom: 2%; */
        margin-top: 20%;
    }
    .searchButtonColor{
        color:  #000;
    }
    .avisColor{
        color: #fff;
        background-color: rgb(198, 130, 238);
    }
    .promotionColor{
        color: #fff;
        background-color: cadetblue;
    }
    .bestSaleColor{
        color: #fff;
        background-color: indianred;
    }
    .categoryColor{
        color: #fff;
    background-color: burlywood;
    }
    .myListColor{
        color: #fff;
        background-color: coral;
    }
    .nouveauteColor{
        color: #fff;
        background-color: cornflowerblue;
    }
    .linkColor{
        color: #fff;
    background-color: darksalmon;
    }
    .xxxColor{
        color: #fff;
    background-color: mediumpurple;
    }
}

