<ion-header>

  <ion-navbar>
    <ion-title>notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="loading" class="spinner">
    <ion-spinner center></ion-spinner>
    <p text-center font-size-small>{{'Loading' | translate}}...</p>
  </div>
  <p *ngIf="!loading && (messageList==null || messageList.length<=0) " text-center>{{'NoDataToDisplay' | translate}}</p>
  <ion-list >
    <button ion-item *ngFor="let item of messageList" (click)="readDetailInfo(item)">
      <ion-avatar item-left>
        <img src="assets/imgs/SystemMessage.jpg">
      </ion-avatar>
      <h2>System message <ion-icon name="eye" style="float: right;" *ngIf="item.IsReaded==null ||item.IsReaded==false"></ion-icon></h2>
      <p>{{item.Title}} <span style="float: right;"> {{item.CreatedOn}} </span> </p>
      
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>