<!--
  Generated template for the RegistrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'registre.Title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="basicInfoForm">
      <ion-item>
        <ion-label stacked>{{'registre.Email' | translate}} <span class="requiredLabel"> *</span></ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!basicInfoForm.controls.email.valid  && (basicInfoForm.controls.email.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>{{'registre.Warming_PleaseEntreCorrectEmail' | translate}}</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{'registre.Password' | translate}}<span class="requiredLabel"> *</span></ion-label>
        <ion-input type="password" formControlName="password" ></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!basicInfoForm.controls.password.valid  && (basicInfoForm.controls.password.dirty || submitAttempt)">
        <p>{{'registre.Warming_PasswordsMustMatch' | translate}}</p>
        <ul style="margin-bottom: 0px;">
          <li>
            <p>{{'registre.Warming_AtLeast8Characters' | translate}}</p>
          </li>
          <li>
            <p>{{'registre.Warming_AtLeast1Number' | translate}}</p>
          </li>
          <li>
            <p>{{'registre.Warming_AtLeast1Letter' | translate}}</p>
          </li>
          
        </ul>

      </ion-item>

      <ion-item>
        <ion-label stacked>{{'registre.Password' | translate}}<span class="requiredLabel"> *</span></ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="confirmPassword()">
        <p><ion-icon name="close" style="color: red; vertical-align: middle; margin-right:2px ;"></ion-icon>{{'registre.Warming_PasswordsMustMatch' | translate}}</p>
      </ion-item>
    </form>
  </ion-list>
  <h4 margin-left>{{'registre.CompanyInformation' | translate}}<span class="requiredLabel"> *</span></h4>
  <ion-list>
    <form [formGroup]="entrepriseForm">
      <ion-item>
        <ion-label stacked>{{'registre.CompanyName' | translate}} <span class="requiredLabel"> *</span></ion-label>
        <ion-input type="text" formControlName="entrepriseName"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!entrepriseForm.controls.entrepriseName.valid  && (entrepriseForm.controls.entrepriseName.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>{{'registre.Warming_CompanyNameCannotEmpty' | translate}}</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{'registre.Siret' | translate}} <span class="requiredLabel"> *</span></ion-label>
        <ion-input type="number" pattern="\\d*" formControlName="siret"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!entrepriseForm.controls.siret.valid  && (entrepriseForm.controls.siret.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>{{'registre.Warming_SiretCannotBeEmpty' | translate}}</p>
      </ion-item>


      <ion-item>
        <ion-label stacked>{{'registre.phoneNumber' | translate}} <span class="requiredLabel"> *</span></ion-label>
        <ion-input type="tel" formControlName="phoneNumber"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="!entrepriseForm.controls.phoneNumber.valid  && (entrepriseForm.controls.phoneNumber.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>{{'registre.Warming_PhoneNumberCannotBeEmpty' | translate}}</p>
      </ion-item>
    </form>
  </ion-list>
  <h4 margin-left>{{'registre.Address' | translate}}<span class="requiredLabel"> *</span></h4>
  <ion-list style="margin-bottom: 0px;">
    <form [formGroup]="addressForm">
      <ion-item>
        <ion-input placeholder="{{'registre.AddressLine1' | translate}}" formControlName="firstLineAddress"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.firstLineAddress.valid  && (addressForm.controls.firstLineAddress.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>{{'registre.Warming_MainAddressCannotBeEmpty' | translate}}</p>
      </ion-item>

      <ion-item>
        <ion-input placeholder="{{'registre.AddressLine2' | translate}}" formControlName="secondLineAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="{{'registre.City' | translate}}" formControlName="city"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.city.valid  && (addressForm.controls.city.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>{{'registre.Warming_CityCannotBeEmpty' | translate}}</p>
      </ion-item>

      <ion-item>
        <ion-input placeholder="{{'registre.Country' | translate}}" formControlName="country"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.country.valid  && (addressForm.controls.country.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>{{'registre.Warming_CountryCannotBeEmpty' | translate}}</p>
      </ion-item>

      <ion-item>
        <ion-input placeholder="{{'registre.ZipCode' | translate}}" type="number" pattern="\\d*" formControlName="zipCode"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.zipCode.valid  && (addressForm.controls.zipCode.dirty || submitAttempt)">
      <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon> {{'registre.Warming_ZipCodeCannotBeEmpty' | translate}}</p>
      </ion-item>
      <ion-item>
        <ion-label>{{'registre.UseTheSameAddressAsTheShippingAddress' | translate}}</ion-label>
        <ion-checkbox formControlName="useSameAddress"></ion-checkbox>
      </ion-item>
    </form>
  </ion-list>
  <div padding>
    <button ion-button color="primary" block (click)="registre()" [disabled]='addressForm.invalid||entrepriseForm.invalid||basicInfoForm.invalid||confirmPassword()'>{{'registre.Registre' | translate}}
    </button> 
  </div>
</ion-content>
