<!--
  Generated template for the RegistrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registre</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="basicInfoForm">
      <ion-item>
        <ion-label stacked>{{'signin.Email' | translate}} <span class="requiredLabel"> *</span></ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!basicInfoForm.controls.email.valid  && (basicInfoForm.controls.email.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{'signin.Password' | translate}}<span class="requiredLabel"> *</span></ion-label>
        <ion-input type="password" formControlName="password" ></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!basicInfoForm.controls.password.valid  && (basicInfoForm.controls.password.dirty || submitAttempt)">
        <p>Your password is not valid. A valid password should:</p>
        <ul style="margin-bottom: 0px;">
          <li>
            <p>At least 8 caraters</p>
          </li>
          <li>
            <p>At least 1 number</p>
          </li>
          <li>
            <p>At least 1 letter minuscule</p>
          </li>
          <li>
            <p>At least 1 letter majuscule</p>
          </li>
        </ul>

      </ion-item>

      <ion-item>
        <ion-label stacked>{{'signin.Password' | translate}}<span class="requiredLabel"> *</span></ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="confirmPassword()">
        <p><ion-icon name="close" style="color: red; vertical-align: middle; margin-right:2px ;"></ion-icon>Your password is not the same.</p>
      </ion-item>
    </form>
  </ion-list>
  <h4 margin-left>Information d'entreprise<span class="requiredLabel"> *</span></h4>
  <ion-list>
    <form [formGroup]="entrepriseForm">
      <ion-item>
        <ion-label stacked>Nom d'entreprise <span class="requiredLabel"> *</span></ion-label>
        <ion-input type="text" formControlName="entrepriseName"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!entrepriseForm.controls.entrepriseName.valid  && (entrepriseForm.controls.entrepriseName.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>Entreprise name cannot be empty</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Numéro de SIRET <span class="requiredLabel"> *</span></ion-label>
        <ion-input type="number" pattern="\\d*" formControlName="siret"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!entrepriseForm.controls.siret.valid  && (entrepriseForm.controls.siret.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>siret cannot be empty</p>
      </ion-item>
    </form>
  </ion-list>
  <h4 margin-left>Adresse<span class="requiredLabel"> *</span></h4>
  <ion-list style="margin-bottom: 0px;">
    <form [formGroup]="addressForm">
      <ion-item>
        <ion-input placeholder="Address Line 1" formControlName="firstLineAddress"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.firstLineAddress.valid  && (addressForm.controls.firstLineAddress.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>Main address cannot be empty</p>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Address Line 2" formControlName="secondLineAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="City" formControlName="city"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.city.valid  && (addressForm.controls.city.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>city cannot be empty</p>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Pays" formControlName="country"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.country.valid  && (addressForm.controls.country.dirty || submitAttempt)">
        <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon>country cannot be empty</p>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Zip Code" type="number" pattern="\\d*" formControlName="zipCode"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="!addressForm.controls.zipCode.valid  && (addressForm.controls.zipCode.dirty || submitAttempt)">
      <p><ion-icon name="close" style="color: red; vertical-align: middle;margin-right:2px ;"></ion-icon> zipCode cannot be empty</p>
      </ion-item>
    </form>
  </ion-list>
  <div padding>
    <button ion-button color="primary" block (click)="registre()">Registrer</button>
  </div>
</ion-content>
