<ion-header>

  <ion-navbar>
    <ion-title>{{'registre.Title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f4f4f4!important;">
  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="basicInfoForm">
      <form [formGroup]="basicInfoForm">
        <ng-template matStepLabel>Compte</ng-template>
        <mat-form-field>
          <input matInput placeholder="{{'registre.Email' | translate}}" formControlName="email" required>
          <mat-error *ngIf="basicInfoFormCtrl.email.errors">
            {{'registre.Warming_PleaseEntreCorrectEmail' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'registre.Password' | translate}}" formControlName="password" required>
          <mat-error *ngIf="basicInfoFormCtrl.password.errors">
            {{'registre.Warming_AtLeast8Characters' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'registre.Password' | translate}}" formControlName="confirmPassword" required>
          <mat-error *ngIf="basicInfoFormCtrl.confirmPassword.errors">
            {{'registre.Warming_PasswordsMustMatch' | translate}}
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="entrepriseForm">
      <form [formGroup]="entrepriseForm">
        <ng-template matStepLabel>Entreprise</ng-template>

        <mat-form-field>
          <input matInput placeholder="{{'registre.CompanyName' | translate}}" formControlName="entrepriseName"
            required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'registre.Siret' | translate}}" formControlName="siret" required>
        </mat-form-field>

        <mat-form-field>
          <span matPrefix>+33 &nbsp;</span>
          <input matInput required type="tel" matInput placeholder="{{'registre.PhoneNumber' | translate}}"
            formControlName="phoneNumber">
        </mat-form-field>

        <div>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addressForm">
      <form [formGroup]="addressForm">
        <ng-template matStepLabel>Adress</ng-template>

        <mat-form-field>
          <input matInput placeholder="{{'registre.AddressLine1' | translate}}" formControlName="firstLineAddress"
            required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{'registre.AddressLine2' | translate}}" formControlName="secondLineAddress">
        </mat-form-field>



        <mat-form-field>
          <input matInput placeholder="{{'registre.Country' | translate}}" formControlName="country" required>
        </mat-form-field>
     
        <ion-row>
          <ion-col col-6 >
            <mat-form-field>
              <input matInput placeholder="{{'registre.City' | translate}}" formControlName="city" required>
            </mat-form-field>
          </ion-col>
          <ion-col col-6 >
            <mat-form-field>
              <input matInput placeholder="{{'registre.ZipCode' | translate}}" formControlName="zipCode" required>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <mat-form-field>
          <span matPrefix>+33 &nbsp;</span>
          <input matInput required type="tel" matInput placeholder="{{'registre.PhoneNumber' | translate}}"
            formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field>
          <span matPrefix>+33 &nbsp;</span>
          <input matInput  type="tel" matInput placeholder="{{'registre.Fax' | translate}}"
            formControlName="fax">
        </mat-form-field>
        <div>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)='registre()'>{{'registre.Registre' | translate}}</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</ion-content>
