page-my-account {
    .card{
        margin:0px;
        width: 100%;
    }
    .AccountDetail{
        margin-top:30px;
        padding: 10px;
    }
    .viewAll{
        float: right;
        text-decoration-line: none;
    }
    .iconStyle{
       color:  #717275;
    }
}
ion-content{
   background: #E5E6E8!important;
}

