
<ion-header>
  <ion-navbar>
    <ion-title text-center>{{'myAccount.Title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="notLogin">
    <ion-card>
      <ion-card-header text-center>
        <p>
          {{'myAccount.SignIn' | translate}}
        </p>
      </ion-card-header>
      <ion-card-content text-center>
        <button ion-button outline small (click)="showModal()">{{'myAccount.SignInOrRegister' | translate}} </button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="logined">
    <ion-list>
      <button ion-item class="AccountDetail">
        <ion-avatar item-start>
          <img src="assets/imgs/logo-512.png">
        </ion-avatar>
        <h1> {{username}} </h1>
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <span> {{'myAccount.MyOrder' | translate}} </span>
        <a class="viewAll" (click)="viewAllOrder()">{{'myAccount.ViewAll' | translate}} </a>
      </ion-list-header>
      <button ion-item (click)="readCommandList()">{{'myAccount.UnpaidOrder' | translate}}</button>
      <button ion-item (click)="readCommandList()">{{'myAccount.PrepareOrder' | translate}}</button>
      <button ion-item (click)="readCommandList()">{{'myAccount.OrderArrived' | translate}}</button>
    </ion-list>

    <ion-list>

      <button ion-item (click)="translation()">
        <ion-icon class="iconStyle" name="globe-outline" item-start></ion-icon>
        {{'translation.Title' | translate}}
      </button>

      <button ion-item>
        <ion-icon class="iconStyle" name="at" item-start></ion-icon>
        {{'myAccount.Feedbacks' | translate}}
      </button>
      <button ion-item (click)="contactUs()">
        <ion-icon class="iconStyle" name="mail" item-start></ion-icon>
       {{'myAccount.ContactUs' | translate}}
      </button>
      <button ion-item (click)="aboutUs()">
        <ion-icon class="iconStyle" name="information-circle" item-start></ion-icon>
        {{'myAccount.AboutUs' | translate}}
      </button>
    </ion-list>
    <ion-list>
        <button ion-button full color="danger" text-center (click)="logout()">
        {{'myAccount.SignOut' | translate}}
        </button>
    </ion-list>

  </div>
</ion-content>