<ion-header>

  <ion-navbar>
    <ion-title>{{'readorderlist.Commande' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="loading" class="spinner">
    <ion-spinner center></ion-spinner>
    <p text-center font-size-small>Loading...</p>
  </div>
  <ion-list>
    <ion-card *ngFor="let item of orderList"> 
      <ion-card-header class="cardHeader">
       {{'readorderlist.CommandeNmber' | translate}}: N° {{item.Id}}
        <ion-badge float-right [color]="getStatusClass(item.StatusCode)" style="color: white;"> {{item.StatusLabel}}</ion-badge>
      </ion-card-header>
      <ion-card-content>
        <h6 class="descriptionFont">
          <b> {{'readorderlist.PurchasingDate' | translate}}</b>: {{item.CreatedOn}}
        </h6>
        <h6 class="descriptionFont">
          <b> {{'readorderlist.Total' | translate}}</b>: {{item.TotalPrice}}€
        </h6>
        <h6 class="descriptionFont">
          <b>{{'readorderlist.Address' | translate}}</b>
        </h6>
        <p class="descriptionFont">
          {{item.ShippingAdress.FirstLineAddress}}
          <br>
          {{item.ShippingAdress.ZipCode}} {{item.ShippingAdress.City}}
        </p>
        <h6 class="descriptionFont detailInfo" (click)="commandeDetail(item)">{{'readorderlist.Detail' | translate}}</h6>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>