page-read-order-list {
    .cardHeader{
        border-bottom: 1px solid darkgrey;
        background-color: white;
    }
    .descriptionFont{
        margin: 1rem!important;
    }
    .detailInfo{
        text-decoration: underline ;
    }
    
}
