<ion-header>

  <ion-navbar>
    <ion-title>{{'category-list.Title' | translate}} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="loading" class="spinner">
    <ion-spinner center></ion-spinner>
    <p text-center font-size-small>Loading...</p>
  </div>
  <ion-list>
    <ion-item ion-item *ngFor="let item of categoryList" (click) = "secondMenu(item.ReferenceId,item.Reference.Label)">
        {{item.Reference.Label}}({{item.TotalCount}})
    </ion-item>   
  </ion-list>
</ion-content>
